body {
 
     background: url(../images/background.jpg);
     background-color: black;
 }

img {

	width:100px; 
	
	
} 

h4 {

	color: white;

}

.desc {

	color: red;
	text-align: center;

}

.HP {

	color: red;
	text-align: center;

}



